<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.2" targetFramework="net40" />
  <package id="Fody" version="3.3.5" targetFramework="net40" developmentDependency="true" />
  <package id="Resource.Embedder" version="1.2.8" targetFramework="net20" developmentDependency="true" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net20" />
</packages>